# Managed by Ansible

# TYPE  DATABASE        USER            ADDRESS                     METHOD

# Local connections through Unix socket
local   all             postgres                                    peer
local   all             all                                         peer

# Local TCP connections
host    all             all             127.0.0.1/32                scram-sha-256
host    all             all             ::1/128                     scram-sha-256

# Connections from allowed local network
host    all             all             {{ postgresql_allowed_network }}    scram-sha-256

# Local replication
local   replication     all                                         peer
host    replication     all             127.0.0.1/32                scram-sha-256
host    replication     all             ::1/128                     scram-sha-256
